@tailwind base;
@tailwind components;
@tailwind utilities;

/** Inter **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@layer base {
  :root {
    --badge-gray-text: #71717a;
    --badge-gray-bg: #a1a1aa1f;
    --badge-teal-text: #047481;
    --badge-teal-bg: #16bdca1f;
    --badge-red-text: #e02424;
    --badge-red-bg: #f980801f;
    --badge-yellow-bg: #faca151f;
    --badge-yellow-text: #c27803;
    --badge-green-text: #057a55;
    --badge-green-bg: #0e9f6e1f;
    --badge-purple-bg: #9061f914;
    --badge-purple-text: #9061f9;

    --buttons-solid_default: #9061f9;
    --button-solid-bg: #9061f9;
    --button-solid-text: #fafafa;
    --button-ghost-bg: #9061f91f;
    --button-ghost-text: #52525b;
    --buttons-label_inverse: #fafafa;
    --button-hover-solid-color: #9061f940;
    --buttons-ghost_bg-color: #9061f91f;

    --background-accent: #ffffff;

    --border-divider-color: #e4e4e7;
    --border-cards-color: #3f3f4614;
    --border-input_filled-color: #9061f9;
    --border-button_outlined-color: #71717a;

    --background-informative: #9061f914;

    --bottom_sheet-2: 0px 0px 1px 1px rgba(0, 0, 0, 0.04),
      0px 4px 16px -2px rgba(0, 0, 0, 0.08);
    --modals-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.04),
      0px -6px 24px -3px rgba(0, 0, 0, 0.08);
    --dropdown-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.04),
      0px 10px 40px -5px rgba(0, 0, 0, 0.08);

    --button-solid-shadow: 0px 0px 0px 3px #9061f940;

    --list-hightlight--hover: 0px 0px 0px 3px rgba(14, 159, 110, 0.12);
    --list-actived: #9061f914;
    --list-hover: #71717a0a;
    --list-hightlight: rgba(14, 159, 110, 0.04);
    --list-label_default: #71717a;

    --text-primary: #3f3f46;
    --text-secondary: #52525b;
    --text-tertiary: #71717a;
    --text-inverse: #fafafa;
    --text-active: #9061f9;
    --text-informative: #7e3af2;
    --text-informative_accent: #6c2bd9;
    --text-success: #057a55;
    --text-success_accent: #046c4e;
    --text-caution: #c27803;
    --text-caution_accent: #9f580a;
    --text-warning: #ff5a1f;
    --text-warning_accent: #d03801;
    --text-error: #e02424;
    --text-error_accent: #c81e1e;
    --text-money: #0e9f6e;

    --palette-gradiente-active_menu: linear-gradient(
      270deg,
      #7e3af200 0%,
      #7e3af20b 100%
    );

    --icons-default: #71717a;
  }

  .classic-purple-dark {
    --badge-gray-text: #e4e4e7;
    --badge-gray-bg: #f4f4f51f;
    --badge-teal-text: #16bdca;
    --badge-teal-bg: #7edce21f;
    --badge-red-text: #f05252;
    --badge-red-bg: #f980801f;
    --badge-yellow-bg: #faca151f;
    --badge-yellow-text: #c27803;
    --badge-green-text: #31c48d;
    --badge-green-bg: #84e1bc1f;
    --badge-purple-bg: #9061f914;
    --badge-purple-text: #9061f9;

    --buttons-solid_default: #9061f9;
    --button-solid-bg: #9061f9;
    --button-solid-text: #fafafa;
    --buttons-label: #52525b;
    --button-ghost-bg: #ac94fa3d;
    --button-ghost-text: #fafafa;
    --buttons-label_inverse: #fafafa;
    --button-hover-solid-color: #9061f940;
    --buttons-label: #52525b;
    --buttons-ghost_bg-color: #9061f91f;

    --background-accent: #27272a;

    --border-divider-color: #3f3f46;
    --border-cards-color: #fafafa14;

    --bottom_sheet-2: 0px 0px 1px 1px #0000007a, 0px -4px 16px -2px #0000007a;
    --modals-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.04),
      0px -6px 24px -3px rgba(0, 0, 0, 0.08);
    --button-solid-shadow: 0px 0px 0px 3px #9061f940;
    --dropdown-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.04),
      0px 10px 40px -5px rgba(0, 0, 0, 0.08);

    --list-hightlight--hover: 0px 0px 0px 3px rgba(14, 159, 110, 0.12);
    --list-actived: #ac94fa14;
    --list-hightlight: rgba(14, 159, 110, 0.04);
    --list-label_default: #e4e4e7;
    --list-hover: #e4e4e714;

    --text-secondary: #f4f4f5;
    --text-primary: #fafafa;
    --text-tertiary: #e4e4e7;
    --text-inverse: #3f3f46;
    --text-active: #ac94fa;
    --text-informative: #9061f9;
    --text-informative_accent: #cabffd;
    --text-success: #31c48d;
    --text-success_accent: #84e1bc;
    --text-caution: #fce96a;
    --text-caution_accent: #fce96a;
    --text-warning: #ff8a4c;
    --text-warning_accent: #ff8a4c;
    --text-error: #f98080;
    --text-error_accent: #f98080;
    --text-money: #31c48d;

    --palette-gradiente-active_menu: linear-gradient(
      270deg,
      #ac94fa 0%,
      #ac94fa00 100%
    );

    --icons-default: #e4e4e7;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-style::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background-color: #0000000a;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #0000001f;
}
